---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* MY ADDITION */


/* --- Splash video --- */

/* Target the video inside the hero */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Puts it behind the text */
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* Ensure the header container allows for absolute positioning */
.page__hero--overlay {
  position: relative;
  overflow: hidden;
}


/* --- Research --- */


.entries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 300px)); /* grid-template-columns: repeat(auto-fit, minmax(300px, 300px)); */
  justify-content: center;
  gap: 1.5rem;
}

.grid__item {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.research-item__content {
  text-align: center;
}

.research-item__thumbnail img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  min-width: 0;
  
  border-radius: 0px; /* "Soft" rounded corners (or 50% for full circles) */
  object-fit: cover;
  box-shadow: 1px 5px 20px rgba(0,0,0,0.80); /* x,y offset, blur radius, alpha */
}

.research-item__title {
  margin: 19px 0 10px 0 !important;
  font-size: 1.1rem !important;
  
  a {
    text-decoration: none;
    color: inherit;
    
    &:hover {
      color: #00adb5;
    }
  }
}

